.button {
    background-color: var(--bg-button);
    color: var(--c-light);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 2rem;
  
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  
    // &:hover {
    //   transition: 500s;
    //   border: 1px solid var(--bg-test);
    // }
  }
  
.header1 {
  color: var(--dark-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header2 {
  color: var(--dark-color);
  font-size: 36px;
  line-height: normal;
  font-weight: 700;
}

.header3 {
  color: var(--dark-color);
  font-size: 1.8rem;
}

.caption {
  color: var(--c-grey);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.posts__date {
  color: var(--dark-color);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feat__header {
  color: var(--c-light);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
}

.post__header {
  color: var(--dark-color);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
}

.paragraph {
    color: var(--dark-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

