
@import "./common.scss";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

:root {
  --bg-color: #FFF;
  --bg-button: #FF6464;
  --c-nav: #000;
  --dark-color: #21243D;
  --label-color: #142850;
  --c-light: #FFF;
  --c-grey: #8695A4;
}

body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.nav__item {
  text-decoration: none;
  color: var(--c-nav);
  font-weight: 500;
  font-size: 20px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 0;  
}


.hero__img {
  aspect-ratio: 243/243;
  width: 100%;
  max-width: 100%;
}

.bg-posts {
    background-image: url('./assets/images/background.jpg');
    background-size: cover; /* Scales the background image to cover the entire element */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}

.posts-wrapper {
  background-color: var(--c-light);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 20px 20px;
}

.posts__date-wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.feat__img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.feat__content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 15px;
}

.content-border {
  display: inline-block;
  background-color: var(--label-color);
  color: var(--c-light);
  border-radius: 10px;
  padding: 2px 6px;
  margin-right: 10px;

  font-weight: 900;
}

.container__feat {
  display: flex;
  gap: 1rem;
  padding:1rem;
  border-bottom: 2px solid #ccc;
}

.footer__svg, .footer__p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .hero__content {
    text-align: center;
    justify-items: center;
    order:2;
  }

  .container__feat {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__img {
    flex-wrap: wrap;
  }

  .row {
    flex-wrap: wrap;
  }

  .col-3 {
    max-width: 100%;
    order:-1;
  }

  .h4 {
    align-items: center;
  }

  .feat__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container__feat {
    flex-direction: column;
  }

  .container__feat .col-3 {
    order: -1;
  }
}